<span id="showMore" class="fn-pfx">
    <div class="btn-list">
        <i id="toTop">^</i>
        <i id="MoreMenu">M</i>
    </div>
    <i class="all-btn w30 h30" id="btnList" change="X">O</i>
</span>