.outer
  transition : width 0.4s ease-in-out
  -webkit-transition : width 0.4s ease-in-out
  -moz-transition : width 0.4s ease-in-out
  -o-transition : width 0.4s ease-in-out
.outer-other
  #main
    width: 100%
  #sidebar
    display: none
#showMore
  //z-index :99999999
  display: inline-block
  cursor :pointer
  right: 100px
  bottom: 150px
  background: #262a30
  color: #fff
  width :30px
  height:auto
  overflow: hidden
  //transition : height ease-in-out 0.4s
  //-webkit-transition : height ease-in-out 0.4s
  //-moz-transition : height ease-in-out 0.4s
  //-o-transition : height ease-in-out 0.4s
  #btnList
    display: inline-block
  i
    display:none
    font-style: normal
    line-height :30px
    text-align :center
    width: 100%
    border-top:1px solid #f8f8f8
    margin-top:-1px
  .btn-list
    width: 100%
  .show
    display:inline-block !important