.posts-expand {
  .post-eof {
    display: block;
    // margin: $post-eof-margin-top auto $post-eof-margin-bottom;
    margin: 20px auto 50px;
    width: 100%;
    height: 3px;
    background: $grey-light;
    background: #f2f2f2;
    text-align: center;
    // -webkit-transition: width ease-in-out 0.4s
    // -moz-transition: width ease-in-out 0.4s
    // -o-transition: width ease-in-out 0.4s
    // transition: width ease-in-out 0.4s
  }
}
// .post:hover .post-eof{
//  width: 100%;
// }


.post:last-child {
  .post-eof.post-eof.post-eof {
    display: none;
  }
}
